* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

/* GLOBAL */
body {
  font-family: 'Chakra Petch', sans-serif; }

header {
  background: #d8cba7; }

main {
  background: white; }

a {
  text-decoration: none; }

.titulo {
  background: #d8cba7; }

h1 {
  text-decoration: overline;
  transition: color 0.3s; }
  h1:hover {
    color: #c6ae389f; }

/* CONTAINER1 */
.container1 {
  border-radius: 10px;
  display: grid;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(255, 255, 255, 0.788);
  font-weight: bold;
  font-style: italic; }
  .container1__box {
    background: #d8cba7;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; }
    .container1__box:hover {
      transform: translate(-10px); }
    .container1__box > img {
      width: auto;
      height: calc(100% - 10vh);
      object-fit: cover;
      align-items: center; }
    .container1__box > span {
      font-size: 3.8vh;
      display: block;
      text-align: center;
      height: 10vh;
      line-height: 2.6; }

/* FOOTER */
.footer {
  background-color: rgba(175, 127, 36, 0.877);
  margin-top: 50px;
  padding: 50px 20px; }
  .footer__redes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; }
    .footer__redes-copyright {
      font-weight: bold; }
      .footer__redes-copyright p {
        color: #0f0e13;
        margin: 10px 0;
        margin-bottom: 20px;
        font-size: 10px;
        font-weight: bold; }
    .footer__redes-rrss {
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly; }
      .footer__redes-rrss a {
        text-decoration: none;
        color: #0f0e13;
        font-size: 30px;
        transition: color 0.3s; }
        .footer__redes-rrss a:hover {
          color: #b9aa63; }

/* Contacto */
.cuadro {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.788); }

.cuadro__enlace {
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  width: 50%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 55vh;
  background: rgba(202, 181, 135, 0.952);
  line-height: 2.6;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.342); }
  .cuadro__enlace-t3 {
    box-shadow: black;
    font-weight: bold;
    font-style: italic; }
  .cuadro__enlace input {
    border-radius: 8px;
    box-sizing: border-box; }
  .cuadro__enlace select {
    border-radius: 8px;
    box-sizing: border-box; }
  .cuadro__enlace button {
    border-radius: 8px;
    box-sizing: border-box; }

/* VIDEO */
.video {
  background: rgba(255, 255, 255, 0.788);
  background-image: linear-gradient(45deg #c6c6d2 #707268);
  padding: 50px 20px;
  color: e2e8f0; }
  .video__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    .video__grid--presentacion h2 {
      color: rgba(0, 0, 0, 0.342);
      font-size: 50px;
      margin-bottom: 20px; }
    .video__grid--presentacion h3 {
      margin-bottom: 40px; }
    .video__grid--video video {
      width: auto;
      border-radius: 20px;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1); }

/* QUERYS */
@media (max-width: 800px) {
  .video {
    box-sizing: border-box; }
    .video__grid {
      display: grid;
      grid-template-columns: 1fr;
      width: auto;
      align-items: center; }
  .cuadro__enlace {
    width: 80%;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 600px) {
  .cuadro__enlace {
    width: 80%; }
  .video {
    width: auto;
    box-sizing: border-box; } }

@media (max-width: 492px) {
  .h1 {
    display: none; }
  .video {
    width: auto;
    box-sizing: border-box; }
    .video__grid--video {
      display: none; }
  .cuadro {
    width: auto; }
    .cuadro__enlace {
      width: 97%;
      margin-left: auto;
      margin-right: auto; }
      .cuadro__enlace input {
        padding: 0 0 0 30px; }
  .container1 {
    height: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr; }
    .container1__box {
      height: auto; }
  .contenedor {
    display: none; }
  footer {
    display: none; }
  .video__grid {
    display: grid;
    grid-template-columns: 1fr; } }

@media (max-width: 525px), (orientation: landscape) {
  .cuadro {
    bottom: 20px; } }
