/* Contacto */

@mixin contacto ($background) {
    margin-top: 20px;
    margin-bottom: 20px;
    background: $background;
    height: 55vh;
}

@mixin contacto2 ($width, $border-radius, $background, $boxshadow, $alineado) {
    flex-direction: column;
    border-radius: $border-radius;
    display: flex;
    width: $width;
    padding: 0 0;
    box-sizing: border-box;
    background: $background;
    line-height: 2.6;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    box-shadow: $boxshadow;
    align-items: $alineado;
}

.cuadro {
    @include contacto(rgba(255, 255, 255, 0.788));

    &__enlace {
        @include contacto2 (50%, 10px, rgba(202, 181, 135, 0.952), 0 20px 30px rgba(0, 0, 0, 0.342), center);

        &--1 {
            width: 45%;
            border-radius: 8px;

        }
    }
}