* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* GLOBAL */

body {
    font-family: 'Chakra Petch', sans-serif;
}

header {
    background: #d8cba7;
}

main {
    background: white;
}

a {
    text-decoration: none
}

.titulo {
    background: #d8cba7;
}

h1 {
    text-decoration: overline;
    transition: color 0.3s;

                &:hover {
                    color: #c6ae389f;
                }
}












/* FOOTER */

.footer {
    background-color: rgba(175, 127, 36, 0.877);
    margin-top: 50px;
    padding: 50px 20px;

    &__redes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;


        &-copyright {
            font-weight: bold;

            p {
                color: #0f0e13;
                margin: 10px 0;
                margin-bottom: 20px;
                font-size: 10px;
                font-weight: bold;
            }
        }

        &-rrss {
            margin-top: 20px;
            display: flex;
            justify-content: space-evenly;

            a {text-decoration: none;
                color: #0f0e13;
                font-size: 30px;
                transition: color 0.3s;

                &:hover {
                    color: #b9aa63;
                }
            }
        }
    }


}



