/*  Info  */
@import 'variables';


@mixin info-cuadro {
    margin-top: 20px;
    background:$colorcuadro2;
    
}
@mixin info-enlace ($box-shadow) {
    flex-direction: column;
        border-radius: 10px;
        display: flex;
        width: 50%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 55vh;
        background: $colorcuadro2__enlace;
        line-height: 2.6;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        box-shadow: 0 20px 30px $box-shadow ;
}

.cuadro2 {
    
    @include info-cuadro;

    &__enlace  {
        @include info-enlace (rgba(0, 0, 0, 0.342))
        }
}

