* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}


body {

    font-family: 'Chakra Petch', sans-serif;
}

header {
    background: #d8cba7;
}

main {
    background: #d8cba7;
}



/* body */
.video {
    background: rgba(255, 255, 255, 0.788);
    background-image: linear-gradient(45deg #c6c6d2 #707268);
    padding: 50px 20px;
    color: e2e8f0;
}

.video__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}

.video__grid--presentacion h1 {
    color: rgba(0, 0, 0, 0.342);
    font-size: 50px;
    margin-bottom: 20px;

}

.video__grid--presentacion h3 {
    margin-bottom: 40px;

}

.video__grid--video {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);

}


.container1 {
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.788);
    font-weight: bold;
    font-style: italic;
}

.container1__box {
    background: #d8cba7;
    border-radius: 10px;
    flex: 1;
    overflow: hidden;
    height: auto;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    transition: transform 0.3s;
}

.container1__box:hover {
    transform: translate(-15px);
}



.container1__box>img {
    width: auto;
    height: calc(100% - 10vh);
    object-fit: cover;


}

.container1__box>span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}




/* FOOTER */

footer {
    background-color: rgba(175, 127, 36, 0.877);
    margin-top: 50px;
    padding: 50px 20px;
}

.footer__redes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.footer__copyright p {
    color: #0f0e13;
    margin: 10px 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 10px;
}

.footer__rrss {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.footer__rrss a {
    color: #0f0e13;
    font-size: 30px;
    transition: color 0.3s;
}


.footer__rrss a:hover {
    color: #b9aa63;
}






/* Contacto */

.cuadro {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.788)
}

.cuadro__enlace {

    flex-direction: column;
    border-radius: 10px;
    display: flex;
    width: 50%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 55vh;
    background: rgba(202, 181, 135, 0.952);
    line-height: 2.6;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.342);
}


.cuadro__enlace input {
    border-radius: 10px;
    box-sizing: border-box;
}

.cuadro__enlace select {
    border-radius: 10px;
    box-sizing: border-box;
}



.cuadro__enlace button {
    border-radius: 10px;
    box-sizing: border-box;
}



a img {
    display: flex;
    text-decoration: none;
}


 @media (max-width: 768px) {
    .cuadro__enlace {
                width: 80%;
        margin-left: auto;
    margin-right: auto;
    }
} 

 @media (max-width: 600px)
{
    .cuadro__enlace {
        
        width: 80%;
       
    }
} 

@media (max-width: 437px) {
    .h1 {
        display: none;
    }

    .cuadro {
        width: auto;
    }

    .cuadro__enlace {
        
        width: 97%;
        margin-left: auto;
    margin-right: auto;
    }

    .cuadro__enlace input {
        padding: 0 0 0 30px;
        
    }

    .container1 {
        height: auto;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .container1__box {
        height: auto;
    }

    .contenedor {
        display: none;
    }

    footer {
        display: none;

    }

    .video__grid {
        display: grid;
        grid-template-columns: 1fr;
    }



}

@media (max-width:425px), (orientation: landscape) {
    .cuadro {
        bottom: 20px;
    }
}